  @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Playpen+Sans:wght@400;600;800&family=Poppins:wght@400;600;800&display=swap');

  * {
    font-family: 'Lilita One', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Poppins', sans-serif;
  }